.translate-window {
    background: #ffffff;
    width: 95%;
    margin: 30px;
    border: 1px #000000 solid;
    padding: 5px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 40px auto;
}

.switch-button {
    position: absolute;
    width: 5%;
    left: 48.5%;
    cursor: pointer;
}

.language-select {
    margin-left: 20px;
}

.language-span {
    color: #1e73e7;
}

.translate-button {
    background-color: #1e73e7;
    box-shadow: 0 0 2px 0 #333333;
    padding: 10px 15px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.translate-button:hover {
    background-color: #183e75;
}

.translate-textarea {
    width: 99%;
    height: 20vh;
    max-height: 50vh;
    resize: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 20px;
    color: #5e5e5f;
    border: none;
}

.translate-textarea:focus {
    outline: none;
    border: none;
}
