html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
}

.form {
    width: 100%;
    display: inline-block;
    border: 1px solid rgba(25, 25, 25, 0.32);
    padding-bottom: 30px;
}

.messages {
    overflow: auto;
    margin-bottom: 10px;
}

.message {
    color: red;
    border: 1px solid;
    border-radius: 4px;
    margin: 4px 0;
    padding: 4px;
}

.input-container {
    width: 100%;
    position: fixed;
    bottom: 0;
}

input[type=submit] {
    visibility: collapse;
}

input {
    width: calc(100% - 2px);
    padding: 10px;
}
